html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: hsl(234, 12%, 34%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

p {
  color: hsl(229, 6%, 66%);
  margin: 0;
}

h1 {
  margin: 0;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-headline {
  font-weight: 200;
  font-size: 2em;
}

.main-headline {
  font-weight: 600;
  font-size: 2em;
}

.main-header p {
  width: 360px;
  margin-top: 0px;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.middle-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 10px 10px hsl(229, 6%, 80%);
  margin-top: 30px;
  padding: 30px 30px;
  position: relative;
}

.card h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.card p {
  font-size: 0.9em;
}

.card h1,
p {
  line-height: 30px;
}

.card-1 {
  border-top: 5px solid hsl(180, 62%, 55%);
}

.card-2 {
  border-top: 5px solid hsl(0, 78%, 62%);
}

.card-3 {
  border-top: 5px solid hsl(34, 97%, 64%);
}

.card-4 {
  border-top: 5px solid hsl(212, 86%, 64%);
}

.card-icon {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

@media screen and (min-width: 768px) {
  .main-header {
    margin-bottom: 20px;
  }

  .main-header p {
    width: 50%;
    text-align: center;
  }

  .main-section {
    display: flex;
    flex-direction: row;
  }

  .middle-card {
    width: 100%;
  }

  .card {
    width: 90%;
    margin: 40px;
  }

  .card-2 {
    margin-bottom: -20px;
  }
}
